@use "../abstract/colors" as *;
@use "../abstract/responsive" as *;
@use "../abstract/fonts";
@use "../abstract/animation";
@use "../abstract/grids" as *;

.about-page-root{

    .about-intro {
        @include root-gird {
            @include large {
                grid-template-rows: 20vh 60vh 20vh;
            }
        }
        .information {
            margin-right: 60px;
            @include large {
                grid-row: 2 / 3;
                grid-column: 2 / -3;    
            }
            .head {
                width: fit-content;
                h1 {
                    font-size: 36px;
                    font-weight: 500;
                    letter-spacing: 0px;
                    margin-bottom: 25px;
                }                
                h2 {
                    margin-top: 0px;
                    font-size: 4vw;
                    font-weight: 200;
                    margin-bottom: 0px;
                    white-space: nowrap;
                    display: inline-block;
                    background-color: $white-color;
                    padding-right:20px;
                    padding-top: 30px;
                    padding-bottom: 40px;
                }
            }
            p {
                font-size: large;
                margin-bottom: 40px;
                .text-span{
                    &:hover {
                        text-decoration: underline;
                    }
                }
                
            }
            button {
                cursor: pointer;
                position: relative;
                pointer-events: visible;
                height: max-content;
                font-family: "Share Tech Mono", sans-serif;
                text-transform: uppercase;
                background-color: transparent;
                margin: 0px;
                border: none;
                //color: $primary-color;
                @include large {
                    font-size: x-large;
                    padding: 0px;
                    margin: 0px;
                    margin-top: 10px;
                    margin-right: 40px;
                }
                a {
                    text-decoration: none;
                    color: $primary-color;
                    display: flex;
                    align-items: flex-end;
                }
            }
        }
        .my-image {
            //border: 1px solid green;
            position: relative;
            margin-right: 60px;
            margin-left: 60px;
            margin-bottom: -100px;
            z-index: -2;
            @include large {
                //align-self: end;
                //justify-self: end;
                grid-row: 2 / 3;
                grid-column: 3 / 4;    
            }
            .image {
                object-fit: cover;
            }
        }               
        
    }
}

