@use "../abstract/colors" as *;
@use "../abstract/responsive" as *;
@use "../abstract/fonts";
@use "../abstract/animation";
@use "../abstract/grids" as *;


.aptitudes-root{
    @include root-gird {
        @include large {
            grid-template-rows: 20vh 60vh 20vh;
        }
    }
}

.aptitudes-strengths{
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: height 1s ease-in;
    grid-row: 2 / 3;
    grid-column: 1 / -1;
     
}

.aptitudes-item-root {
    cursor: pointer;

    .aptitude-header{
        @include large {
            margin-left: 12.5%;
            margin-right: 12.5%;
        }       
    }
    h3 {
        transform-origin: left bottom;
        //border: 1px solid green;
        font-family: "IBM Plex Sans", sans-serif;
        font-size: 62px;
        font-weight: 200;
        text-transform: none;
        &.primary {
            color: $primary-color ;
        }
    }
    .aptitude-divider {
        @include large {
            margin-left: 12.5%;
            margin-right: 12.5%;
        }
    }
    p {
        //border: 1px solid green;
        width: max-content;
        //position: absolute;
        font-family: "IBM Plex Sans", monospace;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 1.4px;
        white-space: nowrap;
        display: flex;
        flex-wrap: nowrap;
       
    }
    
}