@use "../abstract/colors" as *;
@use "../abstract/responsive" as *;
@use "../abstract/fonts";
@use "../abstract/animation";
@use "../abstract/grids" as *;

.contact-root {
  z-index: -150;
   @include root-gird {
     background-color: #000;    
    @include large {
      overflow: hidden;
        grid-template-rows: 20vh 60vh 20vh;
        grid-template-columns: 10% 37.5% 52.5% !important;
    }
  }
}

.contact-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  margin-right: 100px;
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  @include tablet {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
  }
  @include desktop {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
  }
  .contact-title {
    transition: all 0.25s cubic-bezier(0.25, 1, 0.5, 1);
    position: absolute;
    margin: 0px;
    margin-bottom: 80px;
    color: #FFF;
    font-size: 150px;
    font-style: normal;
    font-weight: 100;
    line-height: 100%; /* 200px */
    text-transform: capitalize;
    pointer-events: none;
  }
  .show {
    transition-delay: 0.3s;
    transform: translateY(0%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  .hidden {  
    //width: 0%;
    //margin-left: 0px;
    
    transform: translateY(100%);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);;
  }  
}


@mixin input {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
  width: 100%;
  //border: 3px solid blue;

  input {
    transition: all 1s cubic-bezier(0.25, 1, 0.5, 1);
    border: none;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 300;
    font-size: 58px;
    color: $white-color;
    background-color: transparent;
    border-bottom: 1px solid white;
    padding-top: 15px;
    padding-bottom: 15px;
    
    @include tablet {
      font-size: 21px;
    }
    @include desktop {
      font-size: 58px;
    }
    &:focus {
      outline: none;
      border: none;
      font-style: normal;
      color: $primary-color;
      border-bottom: 0.5px solid $primary-color;
      transition: all 1s cubic-bezier(0.25, 1, 0.5, 1);
      
    }
  }
  .text-active {
    transition: all 1s cubic-bezier(0.25, 1, 0.5, 1);
    font-size: calc(58px * 1.4);
  }
  textarea {
    transition: all 1s cubic-bezier(0.25, 1, 0.5, 1);
    font-family: "IBM Plex Sans", sans-serif;
    background-color: transparent;
    color: $white-color;
    font-weight: 300;
    font-size: 38px;
    height: 80%;
    resize: none;
    border: none;
    border-bottom: 1px solid white;
    padding-top: 5px;
    //border: 3px solid orange; 
    &:focus {
      outline: none;
      border: none;
      color: $primary-color;
      border-bottom: 1px solid $primary-color;
      
    }
  }
  .textarea-active {
    transition: all 1s cubic-bezier(0.25, 1, 0.5, 1);
    font-size: calc(38px * 1.2);
  }

  @content;
}

.input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  //border: 3px solid green;
  height: 100%;
  label {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    pointer-events: none;
    //border: 2px solid purple;
    .selected-input-label{
      height: max-content;
      font-family: "IBM Plex Sans", sans-serif;
      color: $primary-color;
      font-weight: 600;
      text-transform: uppercase;
      margin-bottom: 10px;
      font-size: 16px;
      letter-spacing: 1.3px;
      transition: all 1s cubic-bezier(0.25, 1, 0.5, 1);
    }
    .selected-input-label-textarea{
      height: max-content;
      font-family: "IBM Plex Sans", sans-serif;
      color: $primary-color;
      font-weight: 600;
      text-transform: uppercase;
      margin-bottom: 40px;
      font-size: 16px;
      letter-spacing: 1.3px;
      transition: all 1s cubic-bezier(0.25, 1, 0.5, 1);
    }
    .selected-input-active {
      font-size: 20px;
      margin-bottom: 20px;
    }
    .inputLabel {
      height: max-content;
      //border: 1px solid blue; 
      color: $white-color;
      font-family: "IBM Plex Sans", sans-serif;
      font-style: italic;
      font-weight: 300;
      font-size: 58px;
      margin-bottom: 20px;
      transition: all 1s cubic-bezier(0.25, 1, 0.5, 1);
    }
    .able {
      transform: translateY(0);
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%); 
    }
    .disabled {
      transform: translateY(100%);
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);;
    }
    .primary {
      color: $primary-color
    }
  }
  .textarea-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    //border: 3px solid magenta;
  }
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  //border: 1px solid red;
  //gap: 60px;
  width: 100%;
  height: 100%;
  grid-row: 2 / 3;
  grid-column: 3 / 4;
  
  .input {
    @include input
  }

  .input_half {
    @include input {
      @include tablet {
        grid-column: span 1 / span 1;
      }
      @include desktop {
        grid-column: span 1 / span 1;
      }
    }
  }

  .input_textarea {
    height: 30%;
    justify-content: flex-end !important;
    @include input {
      @include tablet {
        grid-row: 3 / 5;
      }
      @include desktop {
        grid-row: 3 / 5;
      }
      //border: 2px solid green;
    }
  }

}
.input-button-root {
  padding-top: 50px;
  .input-button {
    transition: all 0.5s cubic-bezier(0.25, 1, 0.5, 1);
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    //border: 3px solid red;
    width: auto;
    border: transparent;
    text-align: right;
    background-color: transparent;
    text-transform: uppercase;
    color: $primary-color;
    font-family: "Share Tech", monospace;
    //justify-self: end;
    //grid-column: 2 / -1;
    font-size: 24px;
    padding-right: 0px;
    @include large {
      font-size: 30px; 
    }
    .button-svg {
      //border: 3px solid green;
      transition: all 0.5s cubic-bezier(0.25, 1, 0.5, 1);
      //height: 100%;
      margin-left: 20px;
    }
    .show {
      width: 66px;
      transform: translateX(0%);
      margin-left: 20px;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    .hidden {
      width: 0%;
      margin-left: 0px;
      transform: translateX(-100%);
      clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
    }
  }
  .active {
    @include large {
      font-size: 40px; 
    }
  }
}

.contact-icons-root {
  position: absolute;
  align-self: end;
  justify-self: start;
  grid-row: 3 / 4;
  grid-column: 2 / -2;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 30px;
  
  @include tablet {
    align-self: end;
    position: relative;
    justify-self: auto;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    grid-row: 3 / 4;
    grid-column: 2/ -2;
    //height: 100%;
    gap: 0px;

  }
  @include desktop {
    align-self: center;
    position: relative;
    justify-self: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    grid-row: 2 / -2;
    grid-column: 3/ 4;
    gap: 0px;
  }
  @include large {
    margin-left: 200px;
  }
  
  a {
    border: none;
    background: transparent;
    padding: 10px;
    cursor: pointer;
    width: max-content;
    &:hover{
      color: $primary-color
    }
    svg{
      width: 80px;
      height: 80px;
      @include tablet{
        animation: 20s rotation infinite 1s reverse  linear forwards;
        width: 100px;
        height:100px;
      }
      @include desktop{
        animation: 20s rotation infinite 1s reverse  linear forwards;
        width: 100px;
        height: 100px;
      }
      @include large {
        width: 150px;
        height: 150px;
      }
    }
  }
  .button-top {
    padding: 0px;
    @include tablet {
      padding-bottom: 40px;
      transform-origin: bottom center;
      animation: 20s rotation infinite 1s   linear forwards;
    }
    @include desktop{
      padding-bottom: 60px;
      transform-origin: bottom center;
      animation: 20s rotation infinite 1s   linear forwards;
    }
    @include large {
      padding-bottom: 100px;
    }
  }
  .button-bottom {
    padding: 0px;
    @include tablet {
      transform-origin: top center;
      animation: 20s rotation infinite 1s   linear forwards;
      padding-top: 40px;
    }
    @include desktop{
      transform-origin: top center;
      animation: 20s rotation infinite 1s   linear forwards;
      padding-top: 60px;
    }
    @include large {
      padding-top: 100px;
    }
  }
  

  .contact-social-divder {
    display: none;
    width: 10%;
    height: 4px;
    @include tablet {
      display: flex;
      width: 60%;
      height: 3px;
      animation: 20s rotation infinite 1s linear forwards;
    }
    @include desktop{
      display: flex;
      width: 70%;
      height: 3px;
      animation: 20s rotation infinite 1s linear forwards;
    }
    @include large {
      width: 100%;
      height: 4px;
    }
    background-color: $black-color;
  }

  @keyframes rotation {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}