@use "../abstract/colors" as *;
@use "../abstract/responsive" as *;
@use "../abstract/fonts";
@use "../abstract/animation";

.divider-root {
    display: flex;
    padding-top: 5px;
    padding-bottom: 5px;

    .strong {
        height: 4px;
    }
    .normal {
        height: 2px;
    }
    .light {
        height: 1px;
    }

    .short {
        width: 100px;
    }
    .long {
        width: 100%;
    }

    .primary {
        background-color: $primary-color;
    }
    .normal {
        background-color: black;
    }
}
