@use "../abstract/colors" as *;
@use "../abstract/responsive" as *;
@use "../abstract/fonts";
@use "../abstract/animation" as *;

@mixin svg {
    fill: inherit;
    stroke: inherit;
    @content;
    &:hover {
        fill: $primary-color;
        stroke: $primary-color;
    }
    path {
        fill: inherit;
        stroke: inherit;
    }
}

.layout-root {
    position: fixed;
    top: 20px;
    left: 5%;
    right: 5%;
    bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: inherit;
    pointer-events: none;
    z-index: 10;

    @include small-phone {
        top: 18px;
        left: 3%;
        right: 3%;
        bottom: 18px;
    }

    @include tablet {
        top: 25px;
        left: 10%;
        right: 10%;
        bottom: 25px;
    }

    @include desktop {
        top: 30px;
        left: 8%;
        right: 8%;
        bottom: 30px;
    }

    @include small-desktop {
        top: 30px;
        left: 8%;
        right: 8%;
        bottom: 30px;
    }

    @include large {
        top: 30px;
        left: 15%;
        right: 15%;
        bottom: 30px;
    }
    .layout-div {
        //border: 1px solid blue;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
        background: inherit;
        h1 {
            //border: 1px solid green;
            margin: 0px;
            font-weight: 400;
            line-height: 30px;
            font-size: 21px;
            text-transform: uppercase;
            letter-spacing: 1.8px;
            background: inherit;
            -webkit-background-clip: text;
            background-clip: text;

            @include phone {
                font-size: 17px;
                line-height: 20px;
                letter-spacing: 1.5px;
            }

            @include small-phone {
                font-size: 13px;
                line-height: 16px;
                letter-spacing: 1px;
            }

            @include tablet {
                font-size: 18px;
                line-height: 24px;
                letter-spacing: 1.4px;
            }

            @include desktop {
                font-size: 20px;
                line-height: 25px;
                letter-spacing: 1.5px;
            }

            @include small-desktop {
                font-size: 18px;
                line-height: 23px;
                letter-spacing: 1.3px;
            }
            
        }
        .top-buttons-root{
            display: flex;
            //border: 2px solid red;
            &.right {
                justify-content: flex-end;
                align-items: flex-start;
            }
            &.left {
                justify-content: flex-start;
                align-items: flex-end;
            }
        }
        button {
            position: relative;
            pointer-events: visible;
            display: flex;
            align-items: center;
            height: max-content;
            font-family: fonts.$font-share-tech-mono;
            text-transform: uppercase;
            background-color: transparent;
            margin: 0px;
            border: none;
            z-index: 15;
            cursor: pointer;
            color: $black-color;
            @include phone {
                font-size: 18px;
            }
            @include small-phone {
                font-size: 13px;
            }
            @include tablet {
                font-size: 18px;
            }
            @include desktop {
                font-size: 20px;
            }
            @include large {
                font-size: 24px;
            }
            &:hover {
                color: $primary-color;
            }
            &.white-button {  
                color: $white-color;
                &:hover {
                    color: $primary-color; 
                }
                @include svg {
                    fill: $white-color;
                    stroke: none !important;
                 };
            }
            @include svg {
                fill: $black-color;
                stroke: transparent;
                &:hover {
                    fill: $primary-color;
                    stroke: none !important;
                }
            };
        }
        .show {
            @include bottom-show{
                transition: 
                    all 0s cubic-bezier(0.25, 1, 0.5, 1) 0.5s,
                    fill 0.5s cubic-bezier(0.25, 1, 0.5, 1) 0.2s,
                    color 0.5s cubic-bezier(0.25, 1, 0.5, 1) 0.2s;
            }
        }
        .hidden {
            @include bottom-hidden {
                transition: 
                    all 0s cubic-bezier(0.25, 1, 0.5, 1) 0.5s;
            }
        }
        .disabled {
            cursor: wait;
        }
        .scrolling-bar {
            transition: border-bottom 0s cubic-bezier(0.25, 1, 0.5, 1) 0.5s;
            z-index: 15;
            width: 100px;
            border-bottom: 3px solid $black-color;
            &.white {
                border-bottom: 3px solid $white-color;
            }
        }   
    }
}
