@use "./colors" as *;
@use "./responsive" as *;

$font-ibm-plex-sans: var(--font-sans), sans-serif;
$font-ibm-plex-mono: var(--font-mono), monospace;
$font-roboto-mono: var(--font-mono), monospace;
$font-share-tech: var(--font-mono), monospace;
$font-share-tech-mono: var(--font-mono), monospace;
