@use "./responsive" as *;

@mixin root-gird {
    width: 100%;
    display: grid;
    min-height: 100vh;
    //border: 1px solid red;

    @include small-phone {
      grid-template-columns: 3% 94% 3%;
    }
    @include phone {
      grid-template-columns: 5% 90% 5%;
    }
    @include tablet {
      grid-template-columns: 17.5% 65% 17.5%;
    }
    @include desktop {
      grid-template-columns: 8% 47% 37% 8%;
    }
    @include large {
      grid-template-columns: 15% 35% 35% 15%;
    } 

    @content;
  }
